{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga magni corporis aperiam ipsam reiciendis nesciunt aut maxime esse. Beatae maiores laborum eaque exercitationem adipisci distinctio fugit soluta? Deleniti, ipsa rem!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga magni corporis aperiam ipsam reiciendis nesciunt aut maxime esse. Beatae maiores laborum eaque exercitationem adipisci distinctio fugit soluta? Deleniti, ipsa rem!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga magni corporis aperiam ipsam reiciendis nesciunt aut maxime esse. Beatae maiores laborum eaque exercitationem adipisci distinctio fugit soluta? Deleniti, ipsa rem!</p>
{% endblock %}