{% extends 'layout.html' %}

{% block body %}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        
        <h1 class="text-body-emphasis">Welcome to FlaskApp</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut unde corporis aliquam voluptatum beatae excepturi error magnam inventore, numquam et possimus obcaecati nostrum ipsam ea autem cupiditate, minus corrupti! Expedita.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
               See Articles
            </button>
            <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                Login
            </button>
        </div>
    </div>
</div>
{% endblock %}